/build
lib/Sitecore.*.dll
/packages
/.vs

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.ncrunchproject
*.ncrunchsolution
ipch/
obj/
bin/
Ankh.NoLoad
*.orig
/tools/RavenDB/Data

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

# GIT IGNORE FILE
_ReSharper.*
*.suo
*.ReSharper.user
[Oo]bj
*.cache
bin
*.csproj.user
build/prepare
*.orig
.svn

/build

#ncrunch
*ncrunch*
*crunch*.local.xml

/lib/Sitecore.Kernel.dll

lib/Sitecore.Mvc.dll
lib/Sitecore.Kernel.xml
